.welcome-heading {
    color: #05837F;
    font-weight: bold;
    font-size: 24px;
}

.welcome-date {
    color: #4D4D4D;
    font-weight: bold;
    font-size: 14px;
}

.info-card {
    border-radius: 15px;
    background-color: #F8F9FB;
    border: 0.1em solid #cfc8c6;
    height: 126px;
    margin: 0px !important;
}

.info-card>.section-card {
    border-right: 0.1em solid #cfc8c6;
    height: 126px;
}

.section-card-content {
    opacity: 100% !important;
}

.section-card-heading {
    color: #4D4D4D;
    font-size: 70px;
    margin: 12px;
}

.section-card-content {
    margin: 32px 0px 32px 0px;
}

.card-title {
    font-size: 24px;
}

.card-content {
    font-size: 18px;
    opacity: 60%;
}

.card.info {
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    height: 204px;
}

.card.info.green {
    background-color: #05837F;
    margin-left: 10px;
}

.card.info.green .card-body {
    padding: 0px;
}

.banner-img-wrapper {
    padding: 0px !important;
}

.banner-img {
    width: 339px;
    height: 204px;
}

.banner-info {
    padding: 20px;
}

.banner-footer {
    margin-left:20px;
}

.card.info.green .text {
    color: white;
    margin-left: 5px;
}

.queue {
    background-color: white;
    border-radius: 16px;
    height: 86px;
    margin: 22px 0px 22px 0px;
    border: 0.1em solid #cfc8c6;
}

.queue-section {
    top: 15%;
}

.queue-section.small {
    top: 30%;
}

.queue-section.action {
    top: 25%;
}

.status-label {
    width: 82px;
    border-radius: 13px;
    text-align: center !important;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

.status-label.processed {
    color: #37BB1C;
    background-color: #37BB1C26;
}

.status-label.waiting {
    color: #FFAB05;
    background-color: #FFAB0526;
}